// base/_reset.scss
@use "../abstracts/variables" as *;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $color-background;
  color: $color-foreground;
  line-height: 1.5;
}
