@use "../../assets/styles/abstracts" as *;

.section {
  padding: 48px 0;
  background: $color-background;
  color: $color-foreground;
}
.inner {
  @include container();
}
.header {
  text-align: center;
  margin-bottom: 20px;
  h2 {
    font-size: 1.5rem;
  }
  p {
    opacity: 0.85;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
  margin-top: 18px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  li {
    background: white;
    padding: 14px;
    border-radius: 10px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.04);
    font-weight: 600;
  }
}
