// desde src/components/Header -> up two: ../../styles
@use "../../assets/styles/abstracts" as *;

.header {
  position: sticky;
  top: 0;
  z-index: 60;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(6px);
  border-bottom: 1px solid $color-border;
}

.inner {
  @include container();
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  gap: 12px;

  .logo img {
    width: 40px;
    height: 40px;
    background: $success-green;
    color: $color-background;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: 700;
  }

  .title {
    color: $color-foreground;
    font-weight: 700;
    text-decoration: none;
  }

  .subtitle {
    font-size: 12px;
    color: $color-foreground; //lighten($color-foreground, 20%);
  }
}

.nav {
  display: none;
  gap: 16px;
  align-items: center;

  @media (min-width: 768px) {
    display: flex;
  }

  .navItem {
    background: none;
    border: none;
    cursor: pointer;
    color: $color-foreground;
    font-weight: 500;
    padding: 6px 8px;
    font-size: 0.9rem;

    &:hover {
      color: $success-green;
      transform: translateY(-1px);
    }
  }
}

.whatsappBtn {
  background: #25d366;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.icon {
  width: 18px;
  height: 18px;
}
